# Archivos y carpetas de IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Carpetas de compilación de Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Archivos de datos locales JSON
*.json